appdirs==1.4.3
beautifulsoup4==4.3.2
Flask==0.10.1
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mock==2.0.0
packaging==16.8
pbr==3.1.1
pyparsing==2.2.0
requests==2.4.3
six==1.10.0
Werkzeug==0.9.6
